{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        "modules": false
      }
    ]
  ],
  "sourceMaps": "inline",
  "retainLines": true,
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}
